:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color: #FFBB70;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    /* background-color: #FFBB70; */
  }
}


/* bonus */

.diceList {
  display: flex;
  flex-direction: row;
}

/* General styles for the dice */
.dice {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.dot {
  width: 17px;
  height: 17px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

/* Positioning dots for each face */
.face-1 .dot:nth-child(1) { top: 50%; left: 50%; transform: translate(-50%, -50%); }

.face-2 .dot:nth-child(1) { top: 20%; left: 20%; }
.face-2 .dot:nth-child(2) { bottom: 20%; right: 20%; }

.face-3 .dot:nth-child(1) { top: 20%; left: 20%; }
.face-3 .dot:nth-child(2) { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.face-3 .dot:nth-child(3) { bottom: 20%; right: 20%; }

.face-4 .dot {
  &:nth-child(1) { top: 20%; left: 20%; }
  &:nth-child(2) { top: 20%; right: 20%; }
  &:nth-child(3) { bottom: 20%; left: 20%; }
  &:nth-child(4) { bottom: 20%; right: 20%; }
}

.face-5 .dot {
  &:nth-child(1) { top: 20%; left: 20%; }
  &:nth-child(2) { top: 20%; right: 20%; }
  &:nth-child(3) { top: 50%; left: 50%; transform: translate(-50%, -50%); }
  &:nth-child(4) { bottom: 20%; left: 20%; }
  &:nth-child(5) { bottom: 20%; right: 20%; }
}

.face-6 .dot {
  &:nth-child(1), &:nth-child(3), &:nth-child(5) { left: 20%; }
  &:nth-child(2), &:nth-child(4), &:nth-child(6) { right: 20%; }
  &:nth-child(1), &:nth-child(2) { top: 20%; }
  &:nth-child(3), &:nth-child(4) { top: 50%; transform: translateY(-50%); }
  &:nth-child(5), &:nth-child(6) { bottom: 20%; }
}

/* ADMIN */

img.mini {
  position: relative;
  height:100px;
  width:100px;
}